.main {
    background: rgba(247, 241, 224, 1.000);
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;

    .sec-main {
        .content {
            .item {
                border-right: 1px solid rgba(83, 96, 119, 1);
                padding-right: .75rem;
            }
        }
    }

    .sec-introduce {
        background: rgba(77, 65, 54, 1);

        .content {
            border-color: rgba(0, 0, 0, 1);
            border-style: solid;
            border-width: 1px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: rgba(255, 255, 255, 1);
            background-clip: padding-box;

        }
    }

    .sec-comments {
        background: rgba(250, 250, 250, 1);
    }

    .sec-form {
        background: rgba(67, 60, 60, 1);

        .text-item {
            -webkit-text-stroke: 0px rgba(0, 0, 0, 1.000);
            border-color: rgba(229, 231, 235, 1);
            border-style: solid;
            color: rgba(255, 253, 253, 1);
            font-family: 'Barlow', sans-serif;
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            --type: 0;
        }
    }
}

@keyframes zoomSmall {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.zoom-small {
    animation: zoomSmall 1s infinite ease-in-out;

    &.v2 {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.flash {
    animation: flash 0.7s infinite;
}